.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: gray;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Orders{
  width: 50%;
  margin: 20px auto auto;
}

.Order-select{
  margin: 10px;
  color: blue;
}

.Order-text-label{
  margin-left: 20px;
  color: rebeccapurple;
}

.Order-text-input{
  margin-left: 20px;
  margin-bottom: 10px;
}

.Order-form{
  width: fit-content;
  padding-right: 20px;
  padding-top: 20px;
  margin: 25px auto auto;
}

.Separator{
  border: thin solid gray;
  width: 50%;
  margin: 20px auto auto;
}